body {
background-color: rgb(103, 246, 151,0.5);
}

h1 {
    text-align: center;
    font-style: italic;
}
button {
    cursor:pointer;
}

.link-primary{
    text-decoration: none;
    color: rgb(0, 221, 255);
}
.link-primary:hover{
    text-decoration: none;
}


.row {
    display:flex;
    cursor:pointer;
}

